{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

<div>
    <h1>Сокращатель ссылок</h1>
    {{ form(form) }}
    {% if haveLink is defined %}
        У вас уже есть такая ссылка!
    {% endif %}

    {% if allUserLinks|length > 0 %}
        <h3>Ваши ссылки:</h3>
        <table border="1">
            <tr>
                <th>Ссылка</th>
                <th>Короткая ссылка</th>
                <th>Кол-во переходов по ссылке</th>
            </tr>
            {% for link in allUserLinks %}
                <tr>
                    <td><a href="{{ link.link }}">{{ link.link }}</a></td>
                    <td><a href="{{ domain }}{{ link.hash }}">{{ domain }}{{ link.hash }}</a></td>
                    <td>{{ link.count }}</td>
                </tr>

            {% endfor %}
        </table>





    {% endif %}

</div>
{% endblock %}
